.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:30%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    /*padding: 5px 10px;*/
    border-radius: 4px;
}

.button-scan {
    position:absolute;   /* position in the center of the screen */
  	width: 40%;
    margin-left: 28%;
    margin-right: 30%;
    top:70%;
  	font-size: 22px;
  	text-decoration: none;
    background-color: #FF9900;
    color: white;
}

.button-open {
    font-size:30px;
    position: absolute;
    top: 95%;
    font-size: 22px;
    width: 95%;
    height: 5%;

}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 100px;
}